body
{
	background-color:#202020;
	background-image: url("../img/bg.jpg");
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
}

.main
{
	overflow-y:hidden;
	margin-top:50px;
	margin-bottom:20px;
	width:1040px;
	margin-left:auto;
	margin-right:auto;
	background-color:#F8F8F8;
	padding:20px;
	padding-bottom:10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
}

.top
{
	background-color:#ffc300;
	color:#202020;
	height:50px;
	width: 100%;
	position: fixed;
	top: 0px;
	left:0px;
}

.bar
{
	color:#202020;
	height:50px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

.narrow
{
	width:780px;
}

.mainlogo
{
	height:100%;
	display:inline;
	vertical-align:-42%;
}

.logo:link, .logo:visited
{
	font-size: 175%;
	line-height:40px;
	float:left;
	vertical-align:middle;
	text-decoration:none;
	color:#202020;
	padding-left:10px;
	padding-right:10px;

}

.buttons
{
list-style-type:none;
overflow:hidden;
padding:0px;
margin:0px;
float: right;
}

.leftbutton
{
	float:left;
	vertical-align:middle;
}

a
{
	color:#EEB200;
}

a:visited
{
	color:#202020;
}

.button:link,.button:visited
{
	display:block;
	width:90px;
	height:100%;
	color:#202020;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	font-size:125%;
}


.button:hover,.button:active,.currentbutton
{
	display:block;
	width:90px;
	height:100%;
	color:#202020;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	font-size:125%;
	background-color: #EEB200;
}

.wgbutton:link,.wgbutton:visited
{
	display:block;
	width:100px;
	height:100%;
	color:#202020;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	font-size:125%;
	background-color:#8AB8E6;
}


.wgbutton:hover,.wgbutton:active
{
	display:block;
	width:100px;
	height:100%;
	color:#202020;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	font-size:125%;
	background-color: #7AA3CC;
}


.leftmain
{
	display: block;
	float:left;
	width:780px;
	margin:0;
	color:#202020;
}

.pagetitle{
	padding:10px;
	padding-top:0px;
	margin-bottom:10px;
	font-size: 110%;
}

.titleheader{
	font-size:200%;
}

.header{
	font-size:175%;
}

.subheader{
	color:#262626;
}

.post
{
	padding:10px;
	margin-bottom:20px;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow:hidden;
}

.postcontent{
	padding:5px 50px 5px 50px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.gallery-item{
	padding:1px 1px 1px 1px;
	width:200px;
}

.left-content{
	padding:5px 10px 5px 0px;
	max-width:320px;
	float:left;
	clear:left;
}

.right-content{
	padding:5px 0px 5px 10px;
	max-width:320px;
	float:right;
	clear:right;
}

.unreasonably-tall{
	height:200px;
}

/* .paired is Deprecated */
.paired{
	padding-left: 0px;
	padding-right: 0px;
}


.rightmain
{
	float:right;
	width:200px;
	color:#E0E0E0;
	padding:1px;
	padding-top:0px;
	text-align:center;
	margin:0;
}

.bottom
{
	display: block;
	float:left;
	color:#202020;
	width:100%;
	height:40px;
}

.bottomline
{
	margin:5px;
	text-align:center;
	line-height:30px;
	width:100%;
}

.social{
	vertical-align: top;
	margin-left:3px;
	margin-right:3px;
}

.lefttext{
	margin-top:2px;
	display:inline;
	text-align:left;
	float:left;
}

.righttext{
	margin-top:0px;
	display:inline;
	text-align:right;
	float:right;
}

hr
{
	border: 0;
    border-bottom: 2px solid #d0d0d0;
}

img
{
	max-width:100%;
}
